<div class="inscription-container">
    <form 
    class="inscription-form" 
    [formGroup]="inscriptionForm"
    (submit)="inscription()" >
        <h1>Formulaire d'inscription</h1>
        <app-dialoggeneric></app-dialoggeneric>
        <input
        [ngClass]="{
            error: formService.formIsInvalidTouched('firstname',inscriptionForm)
          }"
        formControlName="firstname"
        placeholder="Firstame"
        type="firstName"
        />
        <input
        [ngClass]="{
            error: formService.formIsInvalidTouched('lastname',inscriptionForm)
          }"
        formControlName="lastname"
        placeholder="Lastname"
        type="lastName"
        />
        <input
        [ngClass]="{
          error: formService.formIsInvalidTouched('email',inscriptionForm)
        }"
        formControlName="email"
        placeholder="Email"
        type="email"
        />
        <input
        [ngClass]="{
          error: formService.formIsInvalidTouched('password',inscriptionForm)
        }"
        formControlName="password"
        type="password"
        placeholder="Mot de passe"
        />
        <button type="submit">S'inscrire</button>
        <button routerLink="/connexion" >Connexion</button>
    </form>
</div>